@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


$bg-color: #ffffff;
$bg-color-alt: #f5f5f5;
$second-bg-color: #161616;
$third-bg-color: #4169e146;
$text-color: #333333;
$text-color-alt: #666666;
$text-color-light: #999999;
$main-color: #1A3A73;
$main-color-alt: #15305F; // Slightly darker shade of $main-color
$secondary-color: #FF6666;
$main-light-color: #4975f8;
$btn-color: #FF4D4D;
$btn-text-color: #4D4D4D;
$home-bg-color: #9B1C31;
$accent-color: #FF9900; // New accent color

$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

$main-color-rgb: 26, 58, 115; // RGB values for $main-color (#1A3A73)
$accent-color-rgb: 255, 153, 0; // RGB values for $accent-color (#FF9900)

$primary-color: $main-color;
$secondary-color: $secondary-color;
$background-color: $bg-color;
$text-primary: $text-color;
$text-secondary: $text-color-alt;
